@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --plyr-color-main: #9d5148;

    --background: 0 0% 100%;
    /* --background: 0 25% 98.4%; */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 6 37% 45%;
    --muted-primary: 6 37% 45%;
    --primary-foreground: 4 53% 94%;

    --secondary: 0 0% 95.3%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 95.3%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 95.3%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0% / 0.12;
    --input: 0 0% 96.1%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --reader: 0 0% 99.2%;

    --link: 6 37% 45%;
  }

  .dark {
    --background: 0 0% 9.41%;
    --foreground: 210 40% 98%;

    --card: 240 4% 11.5%;
    --card-foreground: 210 40% 98%;

    --popover: 240 4% 11.5%;
    --popover-foreground: 210 40% 98%;

    --primary: 7.67 35.8% 47.1%;
    --muted-primary: 0 0% 16.1%;
    --primary-foreground: 4 53% 94%;

    --secondary: 234.55 7.69% 40.96%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 19.6%;
    --muted-foreground: 234.55 7.69% 71.96%;

    --accent: 0 0% 19.6%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 19.6%;
    --input: 0 0% 19.6%;
    --ring: 212.7 26.8% 83.9%;

    --reader: 0 0% 9.41%;
    --link: 8.21 60.5% 69.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

.dark .loader {
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
}

@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.plyr__poster {
  background-size: cover !important;
}

.prose li::before,
.list li::before {
  content: "—";
  @apply left-0 mr-2 w-auto opacity-50;
}

.reader-page {
  @apply text-2xl leading-[3rem];

  a {
    @apply text-primary underline;
  }

  h1,
  span[data-type="title"] {
    @apply mx-auto my-12 block text-center text-3xl font-bold leading-10;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-xl font-medium;
  }
}

.link {
  @apply text-link hover:text-link/90 underline underline-offset-4;
}
